.main-logo {
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px solid rgb(11, 118, 228);
  background-color: rgb(99, 97, 108);
  position: sticky;
  top: 0px;
  width: 100%;
}

li {
  float: left;
  border-right: 2px solid white;
}

li a, .productsbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 18px 20px;
}

li a:hover, .products:hover .productsbtn {
  background-color: rgb(52, 175, 187);
}

li.products {
  display: inline-block;
}

.product-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.product-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.product-list a:hover{
  background-color: #f1f1f1;
}

.products:hover .product-list {
  display: block;
}

.main-header {
  background-image: url(https://i.ytimg.com/vi/rdGhwe1Q6LY/maxresdefault.jpg);
  background-size: cover;
  background-position: 80% 80%;
  height: 80vh;
}

.main-title {
  text-align: center;
  color: rgb(107, 105, 120);
  position: relative;
  margin-left: -90%;
  font-family: 'Cambria';
  font-size: 5em;
  font-style: italic;
}

.main-intro{
  font-size: 6.5em;
  color:rgb(255, 255, 255);
  margin-top: -7%;
  color: rgb(100, 12, 209);
  font-family: "Cambria";
  font-style: italic;
  text-align: left;
}

.main-img {
  height: 50px;
  width: 50px;
  margin-left: 80%;
  margin-top: -300%;
}
